.list{
  text-align: center;
  background-color: skyblue;
  display: flex;
  justify-content: space-around;
  line-height: 75px;
  /* padding: 10px; */
  border-radius: 10px;
  margin: 10px 0px;

  .list_item{
    font-weight: bold;
 
  }
  .edit-icon{
    height: 50px;
    width: 50px;
    margin-top: 14px;
    overflow: hidden;
    border-radius: 5px;
 }
 .move-icon{
  height: 50px;
  width: 50px;
  margin-top: 14px;
 }
    .delete-icon{
      height: 50px;
      width: 50px;
      margin-top: 14px;
      overflow: hidden;
     
    }
  .img-container{
    height: 50px;
    width: 50px;
    margin-top: 15px;
    border-radius: 100%;
    background-color: #ffffff;
    overflow: hidden;
    .child-img{
      height:50px;
      width: 50px;
      margin: 0px 0px 50px 0px;
    }
  }
}
.test{
  color: red;
  .list_item{
    font-weight: bold;
  }
}
